<link type="application/atom+xml" rel="alternate" href="/atom.xml" title="philipcristiano.com - All items"/>
<link type="application/atom+xml" rel="alternate" href="/posts/atom.xml" title="philipcristiano.com - posts"/>
<link type="application/atom+xml" rel="alternate" href="/notes/atom.xml" title="philipcristiano.com - notes"/>
<link rel="blogroll" type="text/xml" href="/opml" />
<link rel="webmention" href="https://webmention.io/philipcristiano.com/webmention" />
<link href="https://github.com/philipcristiano" rel="me">
