{% extends "base.html" %}
{% import "post_macros.html" as post_macros %}

{% block header %}
  <link href="https://github.com/philipcristiano" rel="me">
{% endblock %}

{% block body %}
{% set posts_section = get_section(path="posts/_index.md") %}

{% for post in posts_section.pages  %}
<div class="max-w-4xlg post h-entry">

    {% if post.summary %}
    {{ post_macros::post_summary(page=post) }}
    {% else %}
    {{ post_macros::post(page=post) }}
    {% endif %}
</div>
<hr class="">
{% endfor %}
{% endblock %}
