{% import "date_macros.html" as date_macros %}
{% import "short.html" as short %}
{% macro gallery(page) %}
<div class="post h-entry">
    <a href="/" class="u-author"></a>
    <a class="u-url no-underline" href="{{ page.permalink }}">
      {{ date_macros::posted_on(date=page.date) }}
    </a>
    <div class="post_body flex e-content flex-wrap">
        {% for asset in page.assets -%}
          {%- if asset is matching("[.](jpg|png)$") -%}
          {% set image = resize_image(path=asset, width=320, op="fit_width") %}
          <img class="u-photo flex flex-wrap block" src="{{ image.url }}" />
          {%- endif %}
        {%- endfor %}

	      {{ page.content | safe }}
    </div>

    {{ short::page_tags(page=page) }}

</div>
{% endmacro post %}
