{% import "photo_macros.html" as photo_macros %}
{% import "macros/prose.html" as macros %}
{% extends "_base.html" %}

{% block page %}blog{% endblock page %}
{% block lang %}{% if section.extra.lang %}{{ section.extra.lang }}{% else %}{{ section.lang }}{% endif %}{% endblock lang %}
{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}
{% block desc %}
  <meta name="description" content="{{ config.description }}">
{% endblock desc %}

{% block content %}
<div id="wrapper">
  {{ macros::back_link(path=get_url(path="/")) }}
  <main>
    <article class="prose"><h1>{{ section.title }}</h1></article>
    <section class="layout-list">
      {% for page in paginator.pages %}
        {{ photo_macros::gallery(page=page) }}
      {% endfor %}
      <div class="feed-pagination">
        {% if paginator.previous %}
        <a href="{{ paginator.previous }}">‹ Newer</a>
        {% endif %}
        {% if paginator.next %}
        <a href="{{ paginator.next }}">Older ›</a>
        {% endif %}
      </div>
    </section>
  </main>
  {% include "_footer.html" %}
</div>
{% endblock content %}
