{% import "short.html" as short %}

{% macro post(page) %}
<div class="feed-entry post-card h-entry">
  {{ short::u_author() }}
  {{ short::card_header(page=page, type="post") }}
  <div class="feed-entry-header">
    <a class="u-url p-name" href="{{ page.permalink }}">{{ page.title }}</a>
  </div>
  <div class="p-summary">
    {{ page.content | striptags | truncate(length=200) }}
  </div>
  <div class="read-more">
    <a href="{{ page.permalink }}">Read more →</a>
  </div>
  {{ short::page_tags(page=page) }}
</div>
{% endmacro post %}

{% macro post_summary(page) %}
<div class="feed-entry post-card h-entry">
  {{ short::u_author() }}
  {{ short::card_header(page=page, type="post") }}
  <div class="feed-entry-header">
    <a class="u-url p-name" href="{{ page.permalink }}">{{ page.title }}</a>
  </div>
  <div class="p-summary">
    {{ page.summary | safe }}
  </div>
  {{ short::page_tags(page=page) }}
</div>
{% endmacro post_summary %}
