{% import "date_macros.html" as date_macros %}
{% macro post(page) %}
<div class="post h-entry">
    <a href="/" class="u-author"></a>
    <h2>
      <a class="u-url no-underline" href="{{ page.permalink }}">{{ page.title }}</a></h2>
      {{ date_macros::posted_on(date=page.date) }}
    <div class="post_body e-content">
	      {{ page.content | safe }}
    </div>

</div>
{% endmacro post %}

{% macro post_summary(page) %}
<div class="post h-entry">
    <a href="/" class="u-author"></a>
    <h1><a class="u-url p-name" href="{{ post.permalink }}">{{ page.title }}</a></h1>

    <div >
      {{ date_macros::posted_on(date=page.date) }}
    </div>
    <div class="p-summary">
	      {{ page.summary | safe }}
    </div>

</div>
{% endmacro post %}
