{% extends "base.html" %}

{% block body %}
{% for page in pages %}
<div class="row">
    <div class="row">
        <div class="span8 h-entry">
            <h2><a class="u-url" href="{{ page.id }}.html">{{ page.title }}</a></h2>
            <div><em >Posted on <time class="dt-published" datetime="{{page.date}}">{{ page.date | date_to_long_string }}</span>.</em></div>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div><em>{% if page.tags != "undefined" %}Filed under {{ page.tags | tag_links }}{% endif %} </em></div>
        </div>
    </div>
</div>
<hr>

{% endfor %}

{% endblock %}
