{% macro post(page) %}
<div class="post h-entry">
    <h2>
      <a class="u-url no-underline" href="{{ page.permalink }}">{{ page.title }}</a></h2>
    <time class="dt-published" datetime="{{page.date}}">Posted on {{ page.date }}</time>
    <div class="post_body e-content">
	      {{ page.content | safe }}
    </div>

</div>
{% endmacro post %}

{% macro post_summary(page) %}
<div class="post h-entry">
    <h1><a class="u-url p-name" href="{{ post.permalink }}">{{ page.title }}</a></h1>

    <div >Posted on {{ post.date }}.</div>
    <div class="p-summary">
	      {{ page.summary | safe }}
    </div>

</div>
{% endmacro post %}
