{% extends "base.html" %}

{% block body %}

<div class="max-w-4xlg">
<h4> Things I read that are maybe worth checking out </h4>
<ul>
{% for page in section.pages %}

   {# Don't display recommendations with an end_date older than now #}
   {% if page.extra.end_date %}
     {% set end_time = page.extra.end_date|date(format="%s")|int %}
	   {% set curr_time = now()|date(format="%s")|int %}
	   {% if end_time < curr_time %}
     {% continue %}
     {% endif %}
   {% endif %}

    <li><a href="{{page.extra.url}}">{{page.title}}</a> - <a href="{{page.extra.feed}}">Feed</a></li>

{% endfor %}
</ul>
</div>

{% endblock %}
