{% import "macros/prose.html" as macros %}
{% import "short.html" as short %}
{% extends "_base.html" %}

{% block page %}prose-page{% endblock page %}
{% block lang %}{{ page.lang }}{% endblock lang %}
{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}
{% block desc %}
  <meta name="description" content="{{ config.description }}">
{% endblock desc %}

{% block content %}
<div id="wrapper">
  <main>
    {{ macros::back_link(path=get_url(path="/recommendations")) }}
    <div>
      <article class="prose h-entry">
        <a href="/" class="u-author" aria-hidden="true" style="display:none"></a>
        <a class="u-url" href="{{ page.permalink }}" style="display:none"></a>
        <h1><a class="u-bookmark-of p-name" href="{{ page.extra.url }}">{{ page.title }}</a></h1>
        <span class="posted-on dt-published" datetime="{{ page.date }}">
          Added {{ page.date | date(format="%Y-%m-%d") }}
        </span>
        {% if page.extra.feed %}
        <p><a href="{{ page.extra.feed }}">Feed</a></p>
        {% endif %}
        {% if page.content %}
        <div class="e-content">
          {{ page.content | safe }}
        </div>
        {% endif %}
      </article>
      {% include "_webmentions.html" %}
    </div>
    {% include "_footer.html" %}
  </main>
</div>
{% endblock content %}
