{% import "date_macros.html" as date_macros %}
{% import "short.html" as short %}
{% macro reply(page) %}
<div class="post h-entry">
    <a href="/" class="u-author"></a>
    <a class="u-url no-underline" href="{{ page.permalink }}">
      {{ date_macros::posted_on(date=page.date) }}
    </a>
    <a class="u-in-reply-to" href="{{page.extra.in_reply_to}}">In reply to</a>
    <div class="post_body e-content">
	      {{ page.content | safe }}
    </div>
    {{ short::page_tags(page=page) }}

</div>
{% endmacro post %}
