{% extends "base.html" %}
{% import "note_macros.html" as note_macros %}
{% import "post_macros.html" as post_macros %}

{% block body %}

{% for page in section.pages  %}
<div class="max-w-4xlg post ">
    {% if section.title == "Notes"%}
     {{ note_macros::note(page=page) }}
    {% elif section.title == "Posts" %}
      {% if post.summary %}
      {{ post_macros::post_summary(page=page) }}
      {% else %}
      {{ post_macros::post(page=page) }}
      {% endif %}
    {% endif %}
</div>
<hr class="">

{% endfor %}
{% endblock %}
