{% macro u_author() -%}
<a href="/" class="u-author" aria-hidden="true" style="display:none"></a>
{%- endmacro u_author %}

{% macro card_header(page, type) -%}
<span class="card-type-label">{{ type }}</span>
<a class="card-date u-url dt-published" href="{{ page.permalink }}" datetime="{{ page.date }}">
  {{ page.date | date(format="%Y-%m-%d") }}
</a>
{%- endmacro card_header %}

{% macro page_tags(page) -%}
{% if page.taxonomies.tags %}
<div class="page-tags">
  <em>Filed under:</em>
  {% for taxo in page.taxonomies.tags %}
  <a class="p-category" href="/tags/{{ taxo | replace(from="_", to="-") | replace(from=".", to="-") }}">#{{ taxo }}</a>
  {% endfor %}
</div>
{% endif %}
{%- endmacro page_tags %}
