{% extends "templates/base.html" %}

{% block body %}
{{ site.monthly_posts }}
{% for post in monthly_posts %}
<div class="row">
    <div class="row">
        <div class="span8">
            <h2><a href="{{ post.id }}.html">{{ post.title }}</a></h2>
            <div><em>Posted on {{ post.date | date_to_long_string }}.</em></div>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div><em>{% if post.tags != "undefined" %}Filed under {{ post.tags | tag_links }}{% endif %} </em></div>
        </div>
    </div>
</div>
<hr>

{% endfor %}

{% endblock %}
